# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_API_ENDPOINT = "https://e178d224-a6fe-43c3-98ba-bba94719c2a9-us-east-1.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:fBnklLMAvKdghpsouslhhaiq:d24d5ab70dda3c7050c98953ba64601e01be1fe6f3a52419daaac75d32cce393"